.component-50-50 {

  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 0;

  .component-left {
    flex: 1;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .pre-title{
      color: deeppink;

      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 20px;
      font-family: 'ClashGrotesk-Variable';
      @apply text-3xl font-bold text-gray-800;




    }

    h2 {
      margin: 0 0 10px 0;
      color: #000000;
      font-weight: bold;
    }

    .text-content{
      p {
        margin: 0 0 20px 0;
        line-height: 35px;
        font-weight: 400;
        max-width: 80%;
      }

      ul{
        margin-top: 20px;
        margin-bottom: 0;
        li{
          font-family: "Lora", serif;
          font-size: 22px;
          margin-bottom: 0px;
          list-style: none;
          line-height: 15px;
          &:before{
            content: "";
            display: block;

            width: 25px;
            height: 25px;
            position: relative;
            left: -50px;
            top: 20px;
            background: url("../public/images/Icon_Check.png");
            background-size: contain;
          }
        }
      }
    }
    .button-set{
      margin-left: 0;
      margin-top: 40px;
      .btn-info{
        margin-left: 0;
      }
    }
  }

  .component-right {
    flex: 1;
    aspect-ratio: 1;
    background-size: 90%;
    background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .component-right {
      aspect-ratio: unset;
      height: 300px;
    }
  }
}



