.block-card-horizontal {
  @apply
  flex
  bg-white
  text-center
  rounded-[20px]
  mb-8
  shadow-[1px_2px_22px_-15px_rgba(66,68,90,1)];
  .card-image {
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    @apply
    bg-cover
    bg-no-repeat
    w-full
    basis-[40%]
    h-auto;
  }

  .block-card-horizontal-data {
    @apply
    p-[20px]
    text-left
    basis-[60%]
    content-center
    relative;

    h3 {
      @apply
        w-[70%]
      text-[24px]
      font-medium
      m-[5px_0];
    }

    p {
      @apply
      text-[16px]
      text-[#010101];
    }

    &::after {
      content: "";
      @apply
      block
      w-[10px]
      h-[10px]
      mt-[10px]
      absolute
      right-[20px]
      top-[30px];
      background: url("./images/plusIcon.png") no-repeat center / cover;
    }
    .author{
      display: grid;
      gap: 10px;
      margin-top: 10px;
      grid-template-columns:40px 1fr ;
      h5{
        color: #010101;
        font-weight: 500;
      }
    }
  }
}